html, body {
  margin: 0;
  padding: 0;
  width: 75%;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;

}
/*.app {*/

/*}*/
/* Main navbar styles */
.main-nav {
  height: 110px;
  top: 0;
  background-color: darkblue; /* Christmas colors */
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 75%; /* Cover the full width */
  margin: 0 auto;
  z-index: 1000; /* Ensures it's above other items */
  border-radius: 15px;
}

.game-type-nav {
  height: 100px;
  top: 0;
  background-color: darkslateblue;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 75%; /* Cover the full width */
  margin: 0 auto;
  border-radius: 15px;
}
.main-nav h1 {
  margin: 5px 0 0;
  font-size: 2em; /* Large title */
}

.main-nav p {
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  height: 30px;
}

.main-nav-button {
  background-color: mediumblue;
  display: flex;
  align-items: center;
  color: white;
  margin: 40px auto;
  border-radius: 50px;
  z-index: 1000;
}

.play-game-button {
  height: 100px;
  background-color: forestgreen;
  text-align: center;
  align-items: center;
  color: white;
  margin: 10px auto;
  width: 50%;
  padding: 20px;
  border-radius: 15px;
}

.navigate-questions-button {
  height: 50px;
  background-color: silver;
  text-align: center;
  align-items: center;
  color: black;

  margin: 10px auto;
  width: 50%;
  padding: 20px;
  border-radius: 25px;
}

.quit-button {
  display: block;
  height: 50px;
  background-color: mediumblue;
  text-align: center;
  align-items: center;
  color: white;
  margin: 25px auto;
  width: 50%;
  padding: 20px;
  border-radius: 25px;
}
/* differentiate between game type navbar styles */
.game-type-nav {
  display: block;
  height: 150px;
  top: 0;
  background-color: silver  ; /* Silver for tinsel */
  color: black;
  text-align: center;
  padding: 20px;
  width: 50%; /* Cover the full width */
  margin: 30px auto;
  z-index: 1000; /* Ensures it's above other items */
  border-radius: 15px;
}

/* Category navigation styles */
.category-nav {
  background-color: mediumpurple;
  width: 100%;
  margin-top: 0;
  margin-bottom: 5px;
  color:white;
}

.badge {
  display: inline-block;
  padding: 5px 15px 3px 3px;
  margin: 5px 5px;
  text-indent: 15px;
  border-radius: 50px; /* Pill shape */
  background-color: darkblue; /* Lighter shade of blue */
  color: white;
  border-color: black;
  border-width: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.answer-button {
  display: inline-block;
  padding: 5px 15px 3px 3px;
  margin: 5px 5px;
  text-indent: 15px;
  border-radius: 50px; /* Pill shape */
  background-color: #ff9e00;
  color: white;
  border-color: black;
  border-width: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.answer-button:hover {
  background-color: #f7b64e; /* Slightly darker on hover */
}

.correct-answer-button {
  display: inline-block;
  padding: 5px 15px 3px 3px;
  margin: 5px 5px;
  text-indent: 15px;
  border-radius: 50px; /* Pill shape */
  background-color: #4169E1;
  color: white;
  border-color: black;
  border-width: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.badge:hover {
  background-color: #4169E1; /* Slightly darker on hover */
}

.content {
  padding-top: 1px; /* Adjust based on the total height of the fixed navbar and sub-nav */
}

.container {
  display: flex;
  background-color: #3f37c9;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  width: auto;
  gap: 20px; /* Adjust the space between cards */
  row-gap: 5px;
  padding: 5px; /* Padding around the entire grid */
  justify-content: center; /* Center items in the container */
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 100px;
  color: white;
  z-index: 1000;
  border-radius: 10px;
}

.cardsContainer {
  display: flex;
  background-color: darkblue;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  width: 100%;
  gap: 20px; /* Adjust the space between cards */
  row-gap: 5px;
  padding: 5px; /* Padding around the entire grid */
  justify-content: center; /* Center items in the container */
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 5px;
  color: white;
  z-index: 1000;
}

.card, .card-back {
  background-color: green;
  box-shadow:0 4px 8px rgba(0,0,0,0.5);
  color: blue;
  border-radius: 10px;

  padding: 15px;
  height: auto;
  width: auto;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.scoreContainer {
  display: flex;
  background-color: darkblue;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  width: 100%;
  gap: 20px; /* Adjust the space between cards */
  row-gap: 5px;
  padding: 5px; /* Padding around the entire grid */
  justify-content: center; /* Center items in the container */
  margin-top: 12px;
  margin-bottom: 10px;
  margin-left: 5px;
  color: white;
  z-index: 1000;
}

.top {
  display: flex;
  border-radius: 20px;
  flex-direction: row;
}

.bottom {
  display: flex;
  border-radius: 20px;
  flex-direction: column;
}

.card-back{
  color: black;
  background-color: palegoldenrod;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background-color: mediumslateblue;
  cursor: pointer;
}

.category-button {
  width: 200px;
  padding: 10px;
  margin: 5px 5px;
  color: white;
  font-weight: bold;
  background-color: mediumblue;
  border-radius: 50px;
}

.categoryButton:hover {
  transform: scale(1.10);
  background-color: #4169E1;
}
@media (max-width: 600px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
  .buttonContainer {
    grid-template-columns: 1fr;
  }
}